<div *ngIf="!connected">
  <form (ngSubmit)="login()">
    <label for="user-login"> Login </label> <input [(ngModel)]="username" type="text" id="user-login" name="login" required minlength="4">
    <label for="user-password"> Password </label> <input [(ngModel)]="password" type="text" id="user-pwd" name="pwd" required minlength="4">
    <button type="submit">Connexion</button>
  </form>
</div>
<div *ngIf="connected">Vous êtes connecté</div>
   
