<body>

<header>
  <app-bandeau-front></app-bandeau-front>
</header>

  <section>
  <aside>
    <app-liste-menus></app-liste-menus>
  </aside>
<article><router-outlet></router-outlet></article>
</section>

</body>
